body {
	background: #1D202B;
	color: #fff;
	font-family: 'Roboto', sans-serif;
	min-height: 100vh;
}

.container {
	width: 90%;
	max-width: 1200px;
	margin: auto;
	padding: 40px 0;

	/* Grid */
	display: grid;
	grid-template-columns: 3fr 1fr;
	gap: 20px;
}

.concert-container {
  display: grid;
	grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.card {
  border-radius: 10px;
	min-height: 200px;
	font-weight: bold;
	padding: 20px;
	position: relative;
	overflow: hidden;
	background-size: cover;
	background-position: center center;
}

.concert-info {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
